/* @theme mine */

@import 'default';

section {
    font-family: "F910新コミック体", "YuMin_36pKn-Medium" ;
    font-size: 32px;
    padding: 40px;
    background-color: #fef9ef;
    color: #373f51;
}

section.title {
    color: 373f51;
    font-size: 36px;
    text-align: center;
    padding: 40px;
}

section.title h1 {
    font-size: 60px;
    text-align: center;
    color: #3a8daa;
}

section.slides h1 {
    color: #3a8daa;
    position: absolute;
    left: 50px; top: 50px;
}